<!--The content below is only a placeholder and can be replaced.-->
<div class="master-page">
  <div class="banner">
    TODO: Banner
  </div>
  <div class="top-menu">
    <div class="row">
      <div class="left-menu">
        <div class="logo"><h1>Project Eve</h1></div>        
      </div>
      <div class="center-menu">
        <nav class="navigation-menu">
          <a routerLink="/mostPopular">Most Popular</a>
          <a routerLink="/female">Female</a>
          <a routerLink="/male">Male</a>
          <a routerLink="/couple">Couple</a>
        </nav>
      </div>
      <div class="right-menu">
        <button class="login">Login</button>
        <button class="sign-up">Sign up</button>
      </div>
    </div>
    
    <div class="row">
        <div class="slogan">Some cheesy slogan</div>
      </div>
    
  </div>
</div>
<router-outlet></router-outlet>


